<div class="card">
  <div class="flex align-items-center justify-content-between mb-3 m-2">
    <h2 class="text-primary">Produtos</h2>
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Produto"
      class="p-button-rounded p-button-success"
      size="small"
      (click)="showAddProductDialog()"
    ></button>
  </div>
</div>

<div class="card rounded-custom">
  <p-toast></p-toast>
  <p-table
    [value]="products"
    dataKey="id"
    editMode="row"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 15%">Nome</th>
        <th style="width: 30%">Descrição</th>
        <th style="width: 10%">Preço</th>
        <th style="width: 15%">Imagem</th>
        <th style="width: 10%">Qtd. em Estoque</th>
        <th style="width: 10%">Categoria</th>
        <th style="width: 10%"></th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-product
      let-editing="editing"
      let-ri="rowIndex"
      [formGroup]="productForm"
    >
      <tr [pEditableRow]="product">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">
              {{ product.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">
              {{ product.description }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">
              {{ product.price | currency : "BRL" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">
              <img
                *ngIf="product.image"
                [src]="getImage(product.image)"
                alt="Imagem do Produto"
                class="product-image"
              />
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">
              {{ product.stock_quantity }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="output">
              {{ getCategoryName(product?.category?.id) }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              (click)="showEditProductDialog(product)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirmDeleteProduct(product)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <ng-container *ngIf="products.length === 0 && !loading">
    <h4 class="flex align-items-center justify-content-center text-primary">
      Não há produtos cadastrados.
    </h4>
  </ng-container>

  <p-dialog
    header="{{ isEditing ? 'Editar Produto' : 'Cadastrar Produto' }}"
    [(visible)]="displayAddProductDialog"
    [draggable]="false"
    [resizable]="false"
    modal="modal"
  >
    <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
      <div class="p-fluid">
        <div class="p-field mb-3">
          <label for="name">Nome</label>
          <input id="name" type="text" pInputText formControlName="name" />
          <div
            *ngIf="submitted && productForm.controls['name'].errors"
            class="p-error"
          >
            <small *ngIf="productForm.controls['name'].errors['required']"
              >Nome é obrigatório.</small
            >
            <small *ngIf="productForm.controls['name'].errors['maxlength']"
              >Nome deve ter apenas 100 caracteres.</small
            >
          </div>
        </div>
        <div class="p-field mb-3">
          <label for="description">Descrição</label>
          <input
            id="description"
            type="text"
            pInputText
            formControlName="description"
          />
          <div
            *ngIf="submitted && productForm.controls['description'].errors"
            class="p-error"
          >
            <small
              *ngIf="productForm.controls['description'].errors['required']"
              >Descrição é obrigatória.</small
            >
            <small
              *ngIf="productForm.controls['description'].errors['maxlength']"
              >Descrição deve ter apenas 500 caracteres.</small
            >
          </div>
        </div>
        <div class="p-field mb-3">
          <label for="price">Preço</label>
          <input id="price" type="number" pInputText formControlName="price" />
          <div
            *ngIf="submitted && productForm.controls['price'].errors"
            class="p-error"
          >
            <small *ngIf="productForm.controls['price'].errors['required']"
              >Preço é obrigatório.</small
            >
          </div>
        </div>

        <div class="p-field mb-3">
          <label for="image">Imagem</label>
          <div class="card flex justify-content-center">
            <p-fileUpload
              name="image"
              [multiple]="false"
              accept="image/*"
              showUploadButton="false"
              maxFileSize="1000000"
              showCancelButton="false"
              chooseIcon="pi pi-file-arrow-up"
              chooseLabel="Selecionar imagem"
              (onSelect)="onFileSelect($event)"
              (onClear)="onFileClear()"
            >
              <ng-template pTemplate="content">
                <img
                  *ngIf="productImage"
                  [src]="getImage(productImage)"
                  alt="Imagem do Produto"
                  class="product-image"
                />
              </ng-template>
            </p-fileUpload>
          </div>
          <div
            *ngIf="submitted && productForm.controls['image'].errors"
            class="p-error"
          >
            <small *ngIf="productForm.controls['image'].errors['required']"
              >Imagem é obrigatória.</small
            >
          </div>
        </div>

        <div class="p-field mb-3">
          <label for="stock_quantity">Quantidade em Estoque</label>
          <input
            id="stock_quantity"
            type="number"
            pInputText
            formControlName="stock_quantity"
          />
          <div
            *ngIf="submitted && productForm.controls['stock_quantity'].errors"
            class="p-error"
          >
            <small
              *ngIf="productForm.controls['stock_quantity'].errors['required']"
              >Quantidade é obrigatória.</small
            >
          </div>
        </div>
        <div class="p-field mb-3">
          <label for="category_id">Categoria</label>
          <p-dropdown
            [options]="categories"
            formControlName="category_id"
            optionLabel="name"
            optionValue="id"
            placeholder="Selecione uma categoria"
            appendTo="body"
            [ngModel]="optionCategoryModel"
            [style]="{ position: 'relative' }"
          ></p-dropdown>
          <div
            *ngIf="submitted && productForm.controls['category_id'].errors"
            class="p-error"
          >
            <small
              *ngIf="productForm.controls['category_id'].errors['required']"
              >Categoria é obrigatória.</small
            >
          </div>
        </div>
      </div>
      <div class="flex justify-content-end mt-4">
        <button
          pButton
          type="button"
          label="Cancelar"
          class="p-button-text"
          (click)="hideAddProductDialog()"
        ></button>
        <button
          pButton
          type="submit"
          label="{{ isEditing ? 'Salvar' : 'Cadastrar' }}"
          class="p-button-text p-button-success"
        ></button>
      </div>
    </form>
  </p-dialog>

  <p-dialog
    header="Confirmação de Exclusão"
    [(visible)]="displayDeleteDialog"
    [draggable]="false"
    [resizable]="false"
    modal="modal"
  >
    <p class="flex align-items-center justify-content-center">
      Tem certeza que deseja excluir o produto?
    </p>
    <p class="flex align-items-center justify-content-center">
      {{ productToDelete?.name }} - {{ productToDelete?.description }}
    </p>
    <div class="flex justify-content-end">
      <button
        pButton
        type="button"
        label="Cancelar"
        class="p-button-text"
        (click)="hideDeleteDialog()"
      ></button>
      <button
        pButton
        type="button"
        label="Confirmar"
        class="p-button-text p-button-danger"
        (click)="deleteProduct()"
      ></button>
    </div>
  </p-dialog>
</div>
